/* ensemble des classe permettant de modifier l'aspect du thème par défaut */


/* Class modifiant les éléments du formulaire généré par le plugin contact form 7 général*/
.wpcf7 input,
.wpcf7 label,
.wpcf7 textarea{
	color: #000000;
	font-family:syne;
	font-size:20px;
	line-height:30px;
	border-radius: 5px;
	border:none;
    border-color:transparent;
	width: 383px;

}


.wpcf7 input[type="submit"]{
	background-color:#E0B9B4;
	width:50%;
	border-radius:5px;
	border:none;
	font-size:15px;
	color:#FFFFFF;
	font-weight:400;
	display:block;
	margin: 0 auto;

}

.wpcf7 input[type="submit"]:hover{
	background-color:#C02E44;
	cursor: pointer;
}
/* class specifique au formulaire "commander" */
/* Mise en forme de la page*/

.selection{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.information{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.premiere{
    display: flex;
    flex-direction: column;
    width: 30%;
}
.seconde{
    display: flex;
    flex-direction: column;
    width: 30%;
}
.wpcf7 .quantite{
    font-size: 15px;
    font-weight: 400;
    align-content: center;
    margin-left: 10%;
    margin-right: 10%;
    width:5%;
}
.wpcf7 .T_Info{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 20px;
}
.wpcf7 .info{
    color: #C02E44;
    font-weight: 400;
    font-size: 20px;
}

/* Class modifiant l'aspect du Menu Header */

.menu {
    display: flex;
    margin: 0px;
    padding: 0px;
    gap: 20px;
    min-height: 80px;
    align-items: center;
    justify-content: space-between;
    
}

.rencontrer, .commander {
    font-family: Syne;
    font-size: 20px;
    font-weight: 400;
    
} 
.rencontrer {
   
    display: flex;
    justify-content: right;
    width: 1300px;
    
}
.commander {
    display: flex;
    min-width: 236px;
    min-height: 80px;
    justify-content: center;
    align-items: center;
    
    background-color:#E0B9B4;
    
}
.commander:hover{
    background-color: #C02E44;
}
.accueil {
    display: flex;
    min-height: 80px;
    min-width: 236px;
    align-items: center;
    justify-content: center;
    
    background-image: url('Logo.png');
    background-repeat: no-repeat;
    background-position: center;
   
    
}