/* ensemble des classe permettant de modifier l'aspect du thème par défaut */


/* Class modifiant les éléments du formulaire généré par le plugin contact form 7 */
.wpcf7 input,
.wpcf7 label,
.wpcf7 textarea{
	color: #000000;
	font-family:syne;
	font-size:20px;
	line-height:30px;
	border-radius: 5px;
	border:none;
	width: 383px;

}


.wpcf7 input[type="submit"]{
	background-color:#E0B9B4;
	width:50%;
	border-radius:5px;
	border:none;
	font-size:15px;
	color:#FFFFFF;
	font-weight:400;
	display:block;
	margin: 0 auto;

}

.wpcf7 input[type="submit"]:hover{
	background-color:#C02E44;
	cursor: pointer;
}

/* Class modifiant l'aspect du Menu Header */

.menu {
    display: flex;
    margin: 0px;
    padding: 0px;
    gap: 20px;
    min-height: 80px;
    align-items: center;
    justify-content: flex-end;
}

.rencontrer, .commander {
    font-family: Syne;
    font-size: 20px;
    font-weight: 400;
} 
.rencontrer {
    color: #000000;
}
.commander {
    display: flex;
    min-width: 236px;
    min-height: 80px;
    justify-content: center;
    align-items: center;
    color:#FFFFFF;
    background-color: #DC9F96;
}
.commander:hover{
    background-color: #C02E44;
}
